.dy__category-head {
  display: flex;
  align-items: center;
}

.dy__category-head .dy__category-head_title {
  width: 130px;
}

.dy__category-items_head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dy__category-items_head .dy__category-items_head-title {
  width: 130px;
}

@media screen and (min-width: 960px) {
  .dy__category-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 960px) {
  .dy__category-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}