#modalRoot {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 99999;
  /* display: none; */
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);

  padding-top: 100px;
}
@media screen and (min-width: 960px) {
  .dy__dialog {
    position: relative;
    width: 500px;
    /* height: 400px; */
    /* padding: 0; */

    border: none;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
      0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  }
}

@media screen and (max-width: 960px) {
  .dy__dialog {
    position: relative;
    width: 300px;
    /* height: 400px; */
    /* padding: 0; */

    border: none;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
      0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  }
}

.dy__dialog .dy__dialog-head {
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;
}

.dy__dialog .dy__dialog-content {
}

.dy__dialog .dy__dialog-footer {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: flex-end;
  height: 50px;
  /* border-top: 1px solid black; */
}

.dy__dialog .dy__dialog-footer .dy__dialog-footer_cancel {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.dy__dialog .dy__dialog-footer .dy__dialog-footer_cancel:hover {
  background-color: rgb(170, 170, 170);
}
