.dy__category-add_modal {
  width: 100%;
}

.dy__category-add_modal .dy__category-add_modal-title {
  width: 100%;
  margin-bottom: 30px;
}

.dy__category-add_modal
  .dy__category-add_modal-title
  .dy__category-add_modal-title_input {
  width: 100%;
}

.dy__category-add_modal
  .dy__category-add_modal-title
  .dy__category-add_modal-title_input
  input {
  width: 100%;
}

.dy__category-add_modal
  .dy__category-add_modal-desc
  .dy__category-add_modal-desc_text
  textarea {
  width: 100%;
}
