@media screen and (max-width: 960px) {
  .dy__category-card {
    min-width: 80px;
    height: 60px;
    background-color: rgb(185, 201, 247);
    margin: 20px;

    border-radius: 5px;
    padding: 10px;
  }
}

@media screen and (min-width: 960px) {
  .dy__category-card {
    min-width: 150px;
    height: 60px;
    background-color: rgb(185, 201, 247);
    margin: 20px;

    border-radius: 5px;
    padding: 10px;
  }
}

.dy__category-card_select{
  background-color: rgb(148, 148, 241);
}

.dy__category-title {
  display: flex;
  align-items: center;

  height: 100%;
}

.dy__category-title .dy__category-title_name {
  margin: 0 20px;
  font-weight: 500;
}

.dy__category-card:hover {
  background-color: rgb(93, 93, 150);
}
