@media screen and (max-width: 768px) {
  .dy__sidebar {
    display: none;
    border-right: 1px solid #eee;
    min-width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .dy__sidebar {
    border-right: 1px solid #eee;
    min-width: 150px;
  }
}

.dy__sidebar li {
  margin: 20px;
  cursor: pointer;
}

.dy__sidebar li:hover {
  color: gray;
}
